{% extends "base.html" %}
{% block content %}

<header>
    <h1>Digital</h1>
</header>

<div class="back-button">
    <a href="/gallery" class="back-min">
        <span class="icon">←</span> Back
    </a>
</div>

<!--<section class="gallery">

    <div class="item">
        <video controls>
            <source src="{{ url_for('static', filename='videos/digital1.mp4') }}" type="video/mp4">
        </video>
        <p>Digital Video 1</p>
    </div>

</section>-->
<section class="gallery">
    {% for file, title in titles.items() %}
        {% if file.endswith('.mp4') %}
        <div class="item">
            <video controls>
                <source src="{{ url_for('static', filename='images/digital/' ~ file) }}" type="video/mp4">
            </video>
            <p>{{ title }}</p>
        </div>
        {% endif %}
    {% endfor %}
</section>



{% endblock %}



