<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category|capitalize }}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap" rel="stylesheet">

    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
</head>

<body>

<header>
    <h1>{{ category|capitalize }}</h1>
</header>

<!-- 🔙 ΜΟΝΟ BACK BUTTON -->
<nav>
    <ul class="menu">
        <li><a href="/" class="menu-item">BACK</a></li>
    </ul>
</nav>

<section class="gallery">

    <!--{% for item in items %}
    <div class="item">

        {% if item.type == "image" %}
        <a data-fancybox="gallery"
           data-caption="{{ titles.get(item.filename, '') }}"
           href="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}">
            <img src="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}">
        </a>
        {% endif %}

        {% if item.type == "video" %}
        <a data-fancybox="gallery"
           data-type="video"
           data-caption="{{ titles[item.filename].title }}"
           data-description="{{ titles[item.filename].text }}"
           href="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}">
            <video src="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}"
                   muted style="width:100%; border-radius:4px;"></video>
        </a>
        {% endif %}-->

        <!--<p>{{ titles.get(item.filename, "") }}</p>--> 
        <!--<p>{{ titles[item.filename].title }}</p>-->

        <!--</div>
        {% endfor %}-->

        {% for item in items %}
        <div class="item">

       {% if item.type == "image" %}
        <a data-fancybox="gallery"
       data-caption="{{ titles[item.filename].title }}"
       href="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}">
        <img src="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}">
       </a>

       <p>{{ titles[item.filename].title }}</p>
       {% endif %}


      {% if item.type == "video" %}
      <a data-fancybox="videos"
       data-type="video"
       data-caption="{{ titles[item.filename].title }}"
       data-description="{{ titles[item.filename].text }}"
       href="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}">
        <video src="{{ url_for('static', filename='images/' + category + '/' + item.filename) }}"
               muted playsinline style="width:100%; border-radius:4px;"></video>
    </a>

    <p>{{ titles[item.filename].title }}</p>
    {% endif %}

    </div>
     {% endfor %}
    
</section>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    
<script>
Fancybox.bind("[data-fancybox='gallery']", {
  caption: function (fancybox, slide) {
    const title = slide.$trigger.dataset.caption || "";
    const text = slide.$trigger.dataset.description || "";

    return `
      <div class="caption-title">${title}</div>
      <div class="caption-text">${text}</div>
    `;
  }
});
</script>

    

</body>
</html>
