<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Press</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <a href="/" class="back-button">BACK</a>

    <header>
        <h1>Press</h1>
    </header>

    <section class="press-section">

        <div class="press-item">
            <h3>“Νέα Προσέγγιση στη Στατική Τέχνη”</h3>
            <p>LIFO — 2024</p>
            <a href="#" target="_blank">Read</a>
        </div>

        <div class="press-item">
            <h3>“Η Δυναμική της Κίνησης”</h3>
            <p>Kathimerini — 2023</p>
            <a href="#" target="_blank">Read</a>
        </div>

    </section>

</body>
</html>
