<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sculpture Works</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1>Sculpture</h1>
    </header>

    <div class="back-button">
    <a href="index.html" class="back-min">
        <span class="icon">←</span> Back
    </a>
</div>



    <section class="gallery">
        <div class="item">
            <img src="images/print1.jpg" alt="Έργο 1">
            <p>Έργο 1</p>
        </div>

        <div class="item">
            <img src="images/print2.jpg" alt="Έργο 2">
            <p>Έργο 2</p>
        </div>

        <div class="item">
            <img src="images/print3.jpg" alt="Έργο 3">
            <p>Έργο 3</p>
        </div>
    </section>

</body>
</html>


